body{
    background-color: #b3c8d5;

}

.main-block{
    width: 400px;
    height: 600px;
    border: 5px solid black;
    background-color: white;
    display: flex;



}

.block1{
    width: 399px;
    height: 50px;
    position: relative;
    border: 5px solid black;
    margin: 0;
    bottom:5px;
    right: 5px;



}

.cercle1{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 72px;
    left: 225px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
    color: white;
}

.block2{
    width: 60px;
    height: 545px;
    border: 5px solid black;
    position: relative;
    right: 5px;
    bottom: 30px;
    margin: 0;

}


.cercle2{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 550px;
    right: 12px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
    color: white;

}

.block3{
    width: 335px;
    height: 120px;
    border: 5px solid black;
    position: relative;
    left: 60px;
    bottom: 5px;



}

.cercle3{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 90px;
    left: 160px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
    color: white;


}

.block4{
    width: 335px;
    height: 80px;
    border: 5px solid black;
    position: relative;
    left: 60px;
    bottom: 480px;



}

.cercle4{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 530px;
    left: 180px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
    color: white;



}

.block5{
    width: 245px;
    height: 280px;
    border: 5px solid black;
    position: relative;
    left: 60px;
    bottom: 505px;

}

.cercle5{

    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 650px;
    left: 150px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
    color: white;


}


.block7{
    width: 335px;
    height: 50px;
    border: 5px solid black;
    position: relative;
    left: 60px;
    bottom: 530px;

}

.cercle7 {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 570px;
    left: 170px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2px;
    color: white;


}

.cercle6{

    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 850px;
    left: 393px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2px;
    color: white;

}

.main-block{
    margin-top: 50px;
    margin-left: 50px;

}
